.main {
  background-color: #e4ddf4;
  width: 100vw;
  height: 100vh;
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.main div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}